:root {
    --main-color: #022988;
    --primary-color: #ef5068;
    --black: #13131a;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0));
}

html {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: white;
}

html::-webkit-scrollbar-thumb {
    background: var(--bs-red);
}

a{
    color: #fff!important;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 75px;
    background-color:#131313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    align-items: center;
}
nav .logo span .name{
    margin-top: -17px;
}
.menu{
    width: 65px;
    display: flex;
    justify-content: right;
    list-style: none;
}
.menu li{
    margin-left: 20px;
}
.menu li a{
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
} 
.menu li a:hover{
    color: blue;
}
.search{
    display: flex;
    align-items: center;
    margin-right: 0;
}
.search form{
    display: flex;
    margin: 0;
}
.search input{
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16x;
}
.search input:hover{
    border: 1px solid #72a0d4;
}
.search button{
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: pointer;
    font-size: 19px;
    cursor: pointer;
}
.search button:hover{
    background-color: aqua;
}